<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.brain.Servlet.UserLoginServlet</servlet-class>
  </servlet>
	<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.brain.Servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckRegister</servlet-name>
    <servlet-class>com.brain.Servlet.CheckRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveGoScore</servlet-name>
    <servlet-class>com.brain.Servlet.SaveGoScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveMahjongServlet</servlet-name>
    <servlet-class>com.brain.Servlet.SaveMahjongServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveMathMatch</servlet-name>
    <servlet-class>com.brain.Servlet.SaveMathMatchServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/servlet/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckRegister</servlet-name>
    <url-pattern>/servlet/CheckRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveGoScore</servlet-name>
    <url-pattern>/servlet/SaveGoScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveMahjongServlet</servlet-name>
    <url-pattern>/servlet/SaveMahjongServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveMathMatch</servlet-name>
    <url-pattern>/servlet/SaveMathMatch</url-pattern>
  </servlet-mapping>

	 <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.brain.util.CheckLoginFilter</filter-class>
    <init-param>
      <param-name>checkSessionKey</param-name>
      <param-value>loginuser</param-value>
    </init-param>
    <init-param>
      <param-name>redirectURL</param-name>
      <param-value>/home/index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>notCheckURLList</param-name>
      <param-value>/Error/Error404.jsp;/Register.jsp;/home/index.jsp;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

</web-app>