@charset "utf-8";
/* CSS Document */

ul,.check-li {
	list-style:none;
	float:left;
}
ul{
	padding:0px;
}
.check-li {
	border:1px solid #ccc;
	font-size:50px;
	font-family:微软雅黑;
	font-weight:bold;
	width:100px;
	height:60px;
	margin:5px;
	text-align:center;
	padding-top:20px;
}
.error {
	background-color:#ee9833;
}
.right {
	background-color:#33ee33;
}